* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


header .header-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


header .header-container h1 {
    font-weight: 600;
    line-height: 2rem;
}

header .header-container h2 {
    font-weight: 400;
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

header .header-container p{
    margin-bottom: 10%;
}

header .header-container p span{
    font-weight: bold;
}

#links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header .header-container a.button {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 8px;
    font-weight: 800;
    margin-bottom: 5%;
}

header .header-container a.button:hover {
    background-color: white;
    border: 4px solid black;
    color: black;
    transition: background .5s;

}

#copy {
    text-align: center;
    font-weight: 400;
}



